<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container my-5">
		<h2 class="text-center mt-3" th:text="${titulo}">Titulo</h2>

		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="jumbotron">
					<h1 class="display-4" th:text="${cita.mascota.nombre}">Mascota!</h1>
					<p class="font-weight-bold">Diagnostico:
						<span class="lead font-weight-normal" th:text="${cita.diagnostico}"></span>					
					</p>
					<hr class="my-4">
					<p class="font-weight-bold">Fecha Cita:
						<span class="font-weight-normal" 
						th:text="${#calendars.format(cita.fechaCita,'dd MMMM yyyy')}"></span>
					</p>
					<p class="font-weight-bold">Atendido por:
						<span th:text="${cita.veterinario.nombre}" class="font-weight-normal">Veterinario</span>
					</p>
					<p class="font-weight-bold">Valor de la consulta:
						<span th:text="${#numbers.formatDecimal(cita.valor, 0, 'COMMA', 3, 'POINT')}" class="font-weight-normal">Valor</span>
					</p>
				</div>
			</div>
			<!-- col -->
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>