<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container my-5">
		<h2 class="text-center text-uppercase mb-4 titulo-principal" th:text="${titulo}">Titulo</h2>

		<div class="row mx-auto my-auto">
			<div class="col-md-4 my-2">
				<div class="card" style="max-height: 340px; min-height: 340px;">
					<img class="card-img-top img-fluid " th:src="@{/img/img1.jpg}"
						style="min-height: 180px; max-height: 190px;">
					<div class="card-body">
						<h6 class="card-title text-center font-weight-bold text-uppercase">Soporte
							24/7</h6>
						<p class="text-justify">Contactanos en cualquier momento, te ayudaremos al instante</p>

						<div class="d-flex align-items-center justify-content-between">
							<div
								class="d-flex flex-row align-items-center justify-content-center">
								<i class="fa-solid fa-phone"></i>
								<p class="m-0">+607 432 1212</p>
							</div>

							<div
								class="d-flex flex-row align-items-center justify-content-center">
								<i class="fa-solid fa-user px-2"></i>
								<p class="m-0">VetySystem</p>
							</div>
						</div>
					</div>
					<!-- card-body -->
				</div>
				<!-- card -->
			</div>

			<div class="col-md-4 my-2">
				<div class="card" style="max-height: 340px; min-height: 340px;">
					<img class="card-img-top img-fluid " th:src="@{/img/veterinario.jpg}"
						style="min-height: 180px; max-height: 190px;">
					<div class="card-body">
						<h6 class="card-title text-center font-weight-bold text-uppercase">Entrega Rápida</h6>
						<p class="text-justify">En menos de 20 minutos tus medicamentos serán entregados.</p>
						
						<div class="d-flex align-items-center justify-content-between">
							<div
								class="d-flex flex-row align-items-center justify-content-center">
								<i class="fa-solid fa-phone"></i>
								<p class="m-0">+607 432 1212</p>
							</div>

							<div
								class="d-flex flex-row align-items-center justify-content-center">
								<i class="fa-solid fa-user px-2"></i>
								<p class="m-0">VetySystem</p>
							</div>
						</div>
					</div>
					<!-- card-body -->
				</div>
				<!-- card -->
			</div>

			<div class="col-md-4 my-2">
				<div class="card" style="max-height: 340px; min-height: 340px;">
					<img class="card-img-top img-fluid " th:src="@{/img/bg.png}"
						style="min-height: 180px; max-height: 190px;">
					<div class="card-body">
						<h6 class="card-title text-center font-weight-bold text-uppercase">Multiples
						profesionales</h6>
						<p class="text-justify"> Tratamos Todo tipo de animales, contactanos!!</p>
						
						<div class="d-flex align-items-center justify-content-between">
							<div
								class="d-flex flex-row align-items-center justify-content-center">
								<i class="fa-solid fa-phone"></i>
								<p class="m-0">+607 432 1212</p>
							</div>

							<div
								class="d-flex flex-row align-items-center justify-content-center">
								<i class="fa-solid fa-user px-2"></i>
								<p class="m-0">VetySystem</p>
							</div>
						</div>
					</div>
					<!-- card-body -->
				</div>
				<!-- card -->
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>